.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.MsgVide{
  margin: 5%;
  font-size: 160% ;
}

.IcoVide{
  font-size: 800% ;
  margin: 15%;
  text-align: center;
  
}